<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC5cgmJySUKN9n4J9afsAStTK_SASOj8Sk</string>
	<key>GCM_SENDER_ID</key>
	<string>430703022485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mpr</string>
	<key>PROJECT_ID</key>
	<string>mprmo-9a9d2</string>
	<key>STORAGE_BUCKET</key>
	<string>mprmo-9a9d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430703022485:ios:6dd6f16d7f94fca8f8e69c</string>
</dict>
</plist>